<div class="container">
    <div class="containerDos"><img src="https://i.pinimg.com/564x/c9/97/49/c99749dfbcca3927a44fb8c53ac40da9.jpg" alt=""></div>
    <div class="containerDos"><img src="https://i.pinimg.com/564x/ee/34/bb/ee34bb6394949915f95da5752305ef53.jpg" alt=""></div>
    <div class="containerDos"> <img id="imagen" src="https://i.pinimg.com/564x/8d/5d/5d/8d5d5d118946c0370ae318f7d8c8d523.jpg" alt=""></div>
    <div class="containerDos"> <img src="https://i.pinimg.com/736x/f5/9d/33/f59d337f4551c9d60c55497cb61b001d.jpg" alt=""></div>
    <div class="containerDos"><img id="imagen" src="https://i.pinimg.com/736x/79/a3/77/79a377230f4a82bf79702fcc4bd77c64.jpg" alt=""></div>
</div>
<div class="nombre"> <h2>Arctic Monkeys</h2></div>
<div class="containe-card">
    <app-cards></app-cards>

</div>
